In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("D:\BCA\Data Science Excelr\AI\AI-ML-DL\Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
data['Purchased'] = data['Purchased'].astype('category')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    category
dtypes: category(1), int64(3), object(1)
memory usage: 13.1+ KB

In [8]:
data.describe()

            User ID         Age  EstimatedSalary
count  4.000000e+02  400.000000       400.000000
mean   1.569154e+07   37.655000     69742.500000
std    7.165832e+04   10.482877     34096.960282
min    1.556669e+07   18.000000     15000.000000
25%    1.562676e+07   29.750000     43000.000000
50%    1.569434e+07   37.000000     70000.000000
75%    1.575036e+07   46.000000     88000.000000
max    1.581524e+07   60.000000    150000.000000

In [9]:
data.head()

    User ID  Gender  Age  EstimatedSalary Purchased
0  15624510    Male   19            19000         0
1  15810944    Male   35            20000         0
2  15668575  Female   26            43000         0
3  15603246  Female   27            57000         0
4  15804002    Male   19            76000         0

In [29]:
x = data.iloc[:,[2,3]].values
y = data.iloc[:,-1].values

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [33]:
#from sklearn.preprocessing import StandardScalar
from sklearn.preprocessing import StandardScaler

In [34]:
sc = StandardScaler()

In [36]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [41]:
y_pred = classifier.predict(x_test)

In [42]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[53,  5],
       [ 1, 21]], dtype=int64)